sync:
    # Source folder ids you want to backup
    source_ids:
        - xxxxxx
        - yyyyyy
        - zzzzzz

    # Destination folder id to store backup files
    destination_id: xxxxxx

merge:
    # Source folder ids you want to merge backup
    source_ids:
        - xxxxxx

    # Destination folder id to store backup files
    destination_id: xxxxxx
